*{
    font-family:  arial;
}
  table{
    margin-left: auto;
    margin-right: auto;
    border: "full";
    background-color: white;
    }

  td{

    width: 75px;
    height: 75px;
    text-align: center;

  }
  th{
background-color: #7d492b;
    padding:5px;
  }

  .schwarz{
    background-color: #293133;
  }
form{
  margin-left: 750px;
  margin-top: 20px;
}

#ziehe{
  font-family: "Early GameBoy";
  color: white;
  background-color: #7d492b;
}
#brett{
  text-align: center;

  margin-left: auto;
  margin-right: auto;

}

#button{
  margin-left: auto;
  margin-right: auto;

}
#titel{
  color: white;
  font-family: "Early GameBoy";
  size: 20px;
}
#zugHistorie{
  color: white;
  size: 20px;
}